.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  color: #56617a;
}

.title {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.text {
  text-align: center;
  max-width: 800px;
  font-size: clamp(18px, 1.2vw, 30px);
  font-family: "Noto Sans JP", sans-serif;
}

.button {
  padding: 1.5em;
  color: #fff;
  background-color: #f06661;
  border: none;
  border-radius: 1em;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(5px, 1em, 50px);
}

.button:hover {
  background-color: #f84c46;
}
